.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  outline: none;

  &:disabled {
    background: #CACACA !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
    cursor: not-allowed;
    transform: none;
    opacity: 1;
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.withIcon {
  padding-left: 12px;

  &.sm {
    padding-left: 8px;
  }

  &.md {
    padding-left: 12px;
  }

  &.lg {
    padding-left: 12px;
  }
}

// Variants
.primary {
  background: #A153FF;
  color: white;
}


.outline {
  background: white;
  color: #1C1C1C;
  border: 2px solid #E4E4E7;
}

.button.text {
  background: transparent;
  color: #A153FF;
  border: none;
  padding: 2px 8px;
  gap: 12px;
  border-radius: 4px;
  height: 24px;
  min-height: 24px;
  font-family: 'Geist', system-ui, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05px;

  &:hover {
    background: #A153FF0A;
  }
}

// Sizes
.sm {
  padding-inline: 12px;
  font-size: 14px;
  min-height: 34px;
  font-weight: 500;
}

.md {
  padding-inline: 16px;
  font-size: 14px;
  min-height: 36px;
  font-weight: 500;
}

.lg {
  padding-inline: 16px;
  font-size: 14px;
  min-height: 38px;
  font-weight: 600;
}
